{% extends 'accounts/base.html' %}
{% block content %}
<head>
  <style>
    hr {
      background-color: red;
    }
  </style>
</head>
<div class="card border-primary text-center">
  <div class="card-body">
    <h5 class="card-title mb-3">Welcome to the Quiz Site</h5>
      <a type="button" href="{% url 'accounts:login' %}" class="btn btn-primary  w-50 m-3">Login</a>
    <div class="row ">
        <div class="col my-auto"><hr></div>
        <div class="col-auto my-auto">OR</div>
        <div class="col my-auto"><hr></div>
    </div>
      <a type="button" href="{% url 'accounts:teacher_signup' %}" class="btn btn-primary  w-50 m-3">Sign up as teacher</a>
      <a type="button" href="{% url 'accounts:student_signup' %}" class="btn btn-primary  w-50 mb-3">Sign up as student</a>
    </div>
</div>
{% endblock content %}