<h2>Welcome to the Quiz</h2>
<p>
    If you already have an account, go ahead and <a href="{% url 'login' %}">log in</a>. If you are new to Quiz, get started
    by creating an Account.
    <br>
      What type of account do you want to create.
      <form action="{% url 'signup' %}" method="POST">{% csrf_token %}
          <input type = "hidden"  />
      <button type="submit" name="type" value="teacher"  class="save btn btn-secondary">Teacher</button>
    <a type="submit" href="{% url 'student_signup' %}">student account</a> or a <a href="{% url 'teacher_signup'%}">teacher account</a>.
     <form action="{% url 'signup' %}" method="POST">{% csrf_token %}
        <button type="submit" name="type" value="student" class="save btn btn-secondary">Student</button>
  
  </p>

</form>