{% extends 'accounts/base.html' %}


{% load crispy_forms_tags %}
{% block content %}

<div class="card border-primary ">
  <div class="card-header text-center">
    <h2><b>Login </b></h2>
  </div>
  <div class="card-body">
    <div class="m-3">
      <form method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-center"><button class="btn btn-success w-50 " type="submit">Login</button></div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}