{% extends 'accounts/base.html' %}
{% block content %}
{% load static %}
<body>
  <div class="mb-5">
  <div class="accordion" id="collaspsebar1">
    <div class="card border-primary ">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0 ">
          <button class="btn btn-link  " type="button" data-toggle="collapse" data-target="#availableQuizzes"
            aria-expanded="true" aria-controls="availableQuizzes">
            Available Quizzes
          </button>
        </h2>
      </div>
      <div id="availableQuizzes" class="collapse show" aria-labelledby="headingOne" data-parent="#collapsebar1">
        <div class="card-body">
          {% for quiz in myQuizzes.not_taken %}
          <div class="card border-primary mb-3 ">
            <div class="card-body">
              <h5 class="card-title">{{quiz.name}}</h5>
              <p class="card-text">
              <p>Created By: {{quiz.author}} </p>
              <p class="card-text"><small class="text-muted">Created at: {{quiz.created_date|date:"H:m, d M, Y" }}
                </small></p>
              <a href="{% url 'student:quiz' quiz.quiz_id %}" class="btn btn-primary">View Quiz</a>
            </div>
          </div>
          {% empty %}
  <p class="bg-light text-center  " colspan="5">There are no quizzes available for you to attempt.</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
  {% if myQuizzes.taken %}
  <div class="mb-5">
    <div class="accordion" id="collaspsebar">
      <div class="card border-primary ">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0 ">
            <button class="btn btn-link  " type="button" data-toggle="collapse" data-target="#attemptedQuizzes"
              aria-expanded="true" aria-controls="attemptedQuizzes">
              Show/Hide Attempted Quizzes
            </button>
          </h2>
        </div>
      <div id="attemptedQuizzes" class="collapse" aria-labelledby="headingOne" data-parent="#collapsebar">
        <div class="card-body">
          {% for quiz in myQuizzes.taken %}
          <div class="card border-primary mb-3 ">
            <div class="card-body">
              <h5 class="card-title">{{quiz.name}}</h5>
              <p class="card-text">
              <p>Created By: {{quiz.author}} </p>
              <p class="card-text"><small class="text-muted">Created at: {{quiz.created_date|date:"H:m, d M, Y" }}
                </small></p>
              <a href="{% url 'student:quiz' quiz.quiz_id %}" class="btn btn-primary">View Quiz</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endblock content %}