{% extends 'teacher/base.html' %} 
{% load static %}

{% block content %}
<!-- <h2>Quiz</h2>
{{quiz_data}}
{{results}}
{{questions}} -->
<link rel="stylesheet" href="{% static 'css/questions_t.css' %}" />

{% if results.count > 0 %}
<table class="table table-dark container">
    <caption style="caption-side: top; text-align:center; font-size: 50px;">Result</caption>
            <tr>
                <th>Student Name</th>
                <th>Points</th>
            </tr>
            {% for result in results %}
            <tr>
                <td>{{result.student}}</td>
                <td>{{result.points}}</td>
            </tr>
            {% endfor %}
{% endif %}  

<body>

    <a href="{% url 'teacher:addQuestion' quiz_id  %}" class="btn btn-primary">Add Questions</a>
      
    {% for question in questions %}
<div class="container mt-sm-5 my-1" >
  <div class="question ml-sm-5 pl-sm-5 pt-2">
    <a href="{% url 'teacher:questionUpdate' question.quiz.quiz_id question.question_number %}" class="btn btn-primary">Edit</a>
      
    
    <div class="py-2 h5"><b>Q.{{question.question_number}} {{question.question}}</b></div>
      <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
          <label class="options">{{question.A}}
              <input type="radio" disabled {% if question.answer == 'A' %} checked {% endif %}    name="Question {{question.question_number}}" value="A">
              <span class="checkmark"></span>
          </label>
          <label class="options">{{question.B}}
            <input type="radio"  disabled {% if question.answer == 'B' %} checked {% endif %}  name="Question {{question.question_number}}"value="B">
            <span class="checkmark"></span>
          </label>
          <label class="options">{{question.C}}
              <input   type="radio" disabled {% if question.answer == 'C' %} checked {% endif %}  name="Question {{question.question_number}}"value="C">
              <span class="checkmark"></span>
          </label>
          <label class="options">{{question.D}}
              <input   type="radio" disabled {% if question.answer == 'D' %} checked {% endif %}  name="Question {{question.question_number}}" value="D">
              <span class="checkmark"></span>
          </label>
      </div>
  </div>
</div>
{% endfor %}

</body>

{% endblock content %}
